@import "../../../variables";

.navigation {
  background: #212529;
  border: none;
  border-radius: 0;
  margin-bottom: 0;

  .navbar-header {
    overflow: hidden;
    padding-bottom: 15px;

    .logo {
      color: white;
      font: 2.5em $font;
      padding-right: 15px;
    }
  }

  .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 2rem;
    margin-top: 5px;
  }
}

@media (max-width: 48em) {
  ul li.nav-item.user {
    padding-left: 15px;
  }
}
